.image{
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}
.image--user{
    max-width:35px;
    max-height:35px;
    border-radius: 25px;
    border: 3px solid #fff;
}